body {
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --color-brend:#2f303a;
  --color-accent:#2196f3;
  --color-background:#ffffff;
  --text-color:#212121;
  --text-color-optional:#757575;
  --social-icon-color: #afb1b8;
  --black-color: #000000;
  --color-hover: #188ce8;
  --color-background-color: #f5f4fa;
  --color-overlay:#eeeeee;
  --color-background-hero: #c4c4c4;
  --color-border: #afb1b8;
  --timing-duration: 250ms;
  --logo-font-family: @font-face {
                      font-family: "Raleway";
                      font-style: normal;
                      font-weight: 700;
                      src: url("../fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
                      src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
                      }
  --second-font-family: @font-face {
                      font-family: "Roboto";
                      font-style: normal;
                      font-weight: 400;
                      src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
                      src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
                      }
  --main-font-family: @font-face {
                      font-family: "Roboto";
                      font-style: normal;
                      font-weight: 500;
                      src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
                      src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
                      }
  --title-font-family: @font-face {
                      font-family: "Roboto";
                      font-style: normal;
                      font-weight: 700;
                      src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
                      src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
                      }

  --hero-font-family: @font-face {
                      font-family: "Roboto";
                      font-style: normal;
                      font-weight: 900;
                      src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
                      src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
                      } ;
}

.activity {
  position: relative;
}
.activity__name {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-background);
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  bottom: 0;
  padding: 27px 95px;
}

.address {
  text-decoration: none;
}
.address__card {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  text-decoration: none;
  font-style: normal;
  color: var(--color-background);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover {
  color: var(--color-accent);
}
.address__link:focus {
  color: var(--color-accent);
}
.address__link-contact {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link-contact:hover {
  color: var(--color-accent);
}
.address__link-contact:focus {
  color: var(--color-accent);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--color-background-color);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.advantages {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}
.advantages__item {
  width: 270px;
}
.advantages__item:not(:last-child) {
  margin-right: 30px;
}
.advantages__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color-optional);
  margin-top: 10px;
  margin-bottom: 0;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: opacity var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), visibility var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), visibility var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.checkbox {
  position: absolute;
  left: 52px;
  top: 458px;
}
.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon {
  border: 2px solid var(--text-color);
  border-radius: 1px;
  -webkit-transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--color-accent);
  border: none;
}
.checkbox:focus-within.checkbox__icon {
  border-color: var(--color-accent);
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: var(--color-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  fill: var(--black-color);
}
.close__icon {
  -webkit-transition: fill var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover .close__icon {
  fill: var(--color-accent);
}
.close:focus .close__icon {
  fill: var(--color-accent);
}

.contact {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.contact__item {
  text-decoration: none;
  color: var(--text-color-optional);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__item:hover {
  color: var(--color-accent);
}
.contact__item:focus {
  color: var(--color-accent);
}
.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.customers__box {
  width: 170px;
  height: 92px;
}
.customers__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  fill: var(--social-icon-color);
  -webkit-transition: border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover {
  border-color: var(--color-accent);
}
.customers__link:focus {
  border-color: var(--color-accent);
}
.customers__icon {
  -webkit-transition: fill var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .customers__icon {
  fill: var(--color-accent);
}
.customers__link:focus .customers__icon {
  fill: var(--color-accent);
}

.footer {
  position: absolute;
  width: 100%;
  background-color: var(--color-brend);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  color: var(--color-background);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer__address {
  margin-top: 20px;
}
.footer__social-box {
  margin-left: 70px;
}
.footer__social-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-background);
  margin-bottom: 20px;
}
.footer__social-list {
  gap: 10px;
  margin: 0;
}
.footer__e-mail-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.footer__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-background);
}
.footer__form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.footer__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  outline: none;
  padding: 15px 0 15px 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  margin-right: 12px;
}
.footer__input-button {
  width: 200px;
  height: 50px;
  background: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-background);
}
.footer__icon {
  fill: var(--color-background);
  margin-left: 10px;
}

.header {
  background-color: var(--color-background);
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -1px;
}
.header__logo {
  margin-right: 93px;
  margin-left: 0;
  color: var(--black-color);
}
.header__list {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 50px;
}
.header__link {
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.header__link:hover {
  color: var(--color-accent);
}
.header__link:focus {
  color: var(--color-accent);
}
.header__link--current {
  text-decoration: none;
  color: var(--color-accent);
  height: 48px;
}
.header__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
  margin-top: 28px;
}
.header__contact {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  gap: 50px;
}

.hero {
  background-color: var(--color-brend);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--color-background-hero);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img\(21\).jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img\(21\).jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
  width: 1600px;
  margin: auto;
}
.hero__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--color-background);
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 696px;
  margin: 0 auto 30px;
}
.hero__button {
  background-color: var(--color-accent);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-background);
  cursor: pointer;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:active {
  background-color: var(--color-hover);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.logo__accent {
  color: var(--color-accent);
}

.member {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-background);
}
.member:not(:last-child) {
  margin-right: 30px;
}
.member__image {
  border-radius: 0px;
}
.member__box {
  padding: 30px 5px;
}
.member__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}
.member__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color-optional);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.member__social-list {
  gap: 10px;
  margin-top: 16px;
}

.modal {
  position: absolute;
  width: 528px;
  max-height: 581px;
  height: 100%;
  background-color: var(--color-background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 2px;
  margin-bottom: 12px;
}
.modal__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-optional);
  margin-bottom: 4px;
}
.modal__control {
  position: relative;
  margin-bottom: 10px;
}
.modal__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 12px 12px 32px;
  -webkit-transition: border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--color-accent);
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentcolor;
  -webkit-transition: fill var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  margin-bottom: 20px;
  outline: none;
  -webkit-transition: border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:focus {
  border-color: var(--color-accent);
}
.modal__label {
  position: relative;
  padding-left: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color-optional);
  left: 8px;
}
.modal__link {
  color: var(--color-accent);
}
.modal__button {
  width: 200px;
  height: 50px;
  margin: 10px auto 0 auto;
  background: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-background);
  -webkit-transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover {
  background-color: var(--color-hover);
}
.modal__control:focus-within .modal__icon {
  fill: var(--color-accent);
}

.team {
  background-color: var(--color-background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team__card {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}

.overlay__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay__image-card {
  position: relative;
  overflow: hidden;
}
.overlay__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__link:hover .overlay__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.overlay__link:focus .overlay__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.overlay__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-background);
}
.overlay__card {
  border-left: 1px solid var(--color-overlay);
  border-right: 1px solid var(--color-overlay);
  border-bottom: 1px solid var(--color-overlay);
  padding: 20px 24px;
}
.overlay__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.overlay__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-color-optional);
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-background);
}
.portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.portfolio__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio__item:not(:last-child) {
  margin-bottom: 0;
}

.third {
  padding-top: 0;
}
.third__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.third__cards {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}
.third__card:not(:last-child) {
  margin-right: 30px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
.list__box {
  width: 44px;
  height: 44px;
}
.list__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-color: transparent;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--social-icon-color);
  -webkit-transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.list__link:hover {
  background-color: var(--color-accent);
}
.list__link:focus {
  background-color: var(--color-accent);
}
.list__icon {
  -webkit-transition: fill var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.list__link:hover .list__icon {
  fill: var(--color-background);
}
.list__link:focus .list__icon {
  fill: var(--color-background);
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.networks__box {
  width: 44px;
  height: 44px;
}
.networks__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--color-background);
  -webkit-transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover {
  background-color: var(--color-accent);
}
.networks__link:focus {
  background-color: var(--color-accent);
}

.filter {
  background: var(--color-background-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  -webkit-transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), box-shadow var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), box-shadow var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover {
  background-color: var(--color-accent);
  color: var(--color-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter:focus {
  background-color: var(--color-accent);
  color: var(--color-background);
}
.filter:active {
  background-color: var(--color-accent);
}/*# sourceMappingURL=main.css.map */