.activity{
    position: relative;
    
    &__name{
        position: absolute;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-background);
        background: rgba(47, 48, 58, 0.8);
        height: 70px;
        width: 100%;
        bottom: 0;
        padding: 27px 95px;
    }
}
