.advantages{
    margin: 0;
    display: block;
    padding: 0;
    list-style: none;
    gap: 30px;
    

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__item{
        max-width: 450px;

        @media screen and (max-width: 767px){
            &:not(:last-child){
                margin-bottom: 30px;
            } 
        }

        @media screen and (min-width: 768px){
            max-width: 354px;
          
        }

        @media screen and (min-width: 1200px){
            width: 270px;
        }

     
    }

    &__subtitle{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        @media screen and (max-width: 767px){
            text-align: center; 
        }
    }
    
    &__paragraph{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7; 
        letter-spacing: 0.03em;    
        color: var(--text-color-optional);
        margin-top: 10px;
        margin-bottom: 0;
    }
}
