.advantages{
    margin: 0;
    display: block;
    padding: 0;
    list-style: none;
    

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__item{
        max-width: 450px;

        &:not(:last-child){
            @media screen and (max-width: 767px){
                margin-bottom: 30px;
            }
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px){
            max-width: 354px;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        @media screen and (min-width: 768px){
            width: 270px;
        }

        &:not(:last-child){
            @media screen and (min-width: 1200px){  
                margin-right: 30px;
            }
        }
    }

    &__subtitle{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    
    &__paragraph{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7; 
        letter-spacing: 0.03em;    
        color: var(--text-color-optional);
        margin-top: 10px;
        margin-bottom: 0;
    }
}
