.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background-color);
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
}
    