.contact{
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    
    &__item{
        text-decoration: none;
        color: var(--text-color-optional);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1); 
    
        &:hover{color:var(--color-accent)}

        &:focus{color:var(--color-accent)}
        
    }
    
    &__icon{
        fill: currentColor;
        margin-right: 10px;
    }
}