.header{
    background-color: var(--color-background);
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    
    &__container{
        display: flex; 
    }

    &__nav{
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        margin-bottom: -1px;
    }

    &__logo{
        margin-right: 93px;
        margin-left: 0;
        color:var(--black-color);
    }

    &__list{
        list-style: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        gap: 50px;
    }

    &__link{
        text-decoration: none;
        color: var(--text-color);
        transition: color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;
        
        &:hover{
            color:var(--color-accent)
        }

        &:focus{
            color:var(--color-accent)
        }
        
        &--current{
            text-decoration: none;
            color: var(--color-accent);
            height: 48px;
    
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: currentColor;
            border-radius: 2px;
            margin-top: 28px;
        }
    
    }
    }

    &__contact{
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 0;
        gap: 50px;
    }
    }









