.hero{
    background-color: var(--color-brend);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--color-background-hero);
     background-image:linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/img\(21\).jpg);
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
    width: 1600px;
    margin: auto;
    
    &__title{
        text-transform: uppercase;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        color: var(--color-background);
        text-align: center;
        letter-spacing: 0.06em;
        max-width: 696px;
        margin: 0 auto 30px;
}

    &__button{
        background-color: var(--color-accent);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        color: var(--color-background);
        cursor: pointer;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        align-items: center;
        text-align: center;
        transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);

            &:active{
                background-color: var(--color-hover);
    }
}
}



