.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;


    @media screen and (min-width: 768px){
        font-size: 26px;
        line-height: 1.2; 
    }
    
        &__accent{
            color: var(--color-accent);
}
}