.modal{
    position: absolute;
    width: 528px;
    max-height: 581px;
    height: 100%;
    background-color: var(--color-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 2px;
        margin-bottom: 12px;
    }

    &__label{
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;   
        letter-spacing: 0.01em;
        color: var(--text-color-optional);
        margin-bottom: 4px;

    }

    &__control{
        position: relative;
        margin-bottom: 10px;
    
    }

    &__input{
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        padding: 12px 12px 12px 32px;
        transition: border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);

        &:focus{
            border-color: var(--color-accent);
        }
    }

    &__icon{
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        fill: currentcolor;
        transition: fill var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__textarea{
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        color: rgba(117, 117, 117, 0.5);
        resize: none;
        margin-bottom: 20px;
        outline: none;
        transition: border-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);

        &:focus{
            border-color: var(--color-accent);
        }
    }

    &__label{
        position: relative;
        padding-left: 28px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--text-color-optional);
        left: 8px;
    }

    &__link{
        color: var(--color-accent);
    }

    &__button{
        width: 200px;
        height: 50px;
        margin: 10px auto 0 auto;
        background: var(--color-accent);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        padding: 0;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: var(--color-background);
        transition: background-color var(--timing-duration) cubic-bezier(0.4, 0, 0.2, 1);

        &:hover{
            background-color: var(--color-hover);
        }
    }

    &__control:focus-within .modal__icon{
        fill: var(--color-accent);
    }



}






