.team{
    background-color: var(--color-background-color);
    display: flex;
    
    &__title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 50px;
    }
    &__card{
        margin: 0;
        display: flex;
        padding: 0;
        list-style: none;
    }
    }