body{
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul   {
      margin: 0;
    }
    
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    ul{list-style: none;}
    