:root{
    --color-brend:#2f303a;
    --color-accent:#2196f3;
    --color-background:#ffffff;
    --text-color:#212121;
    --text-color-optional:#757575;
    --social-icon-color: #afb1b8;
    --black-color: #000000;
    --color-hover: #188ce8;
    --color-background-color: #f5f4fa;
    --color-overlay:#eeeeee;
    --color-background-hero: #c4c4c4;
    --color-border: #afb1b8;

    --timing-duration: 250ms;

    --logo-font-family: @font-face {
                        font-family: "Raleway";
                        font-style: normal;
                        font-weight: 700;
                        src: url("../fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
                        src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
                        };

    --second-font-family: @font-face {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 400;
                        src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
                        src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
                        };

    --main-font-family: @font-face {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 500;
                        src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
                        src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
                        };

    --title-font-family: @font-face {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 700;
                        src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
                        src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
                        };
 
    --hero-font-family: @font-face {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 900;
                        src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
                        src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
                        };
}